header {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    color: white;
    padding: 20px 0;
    z-index: 10;
    
    .header_logo {
        display: inline-block;
        float:left;
        margin: 30px;
        
        h1 {
            display: inline-block;
            margin: 0;
        }
        
        .fa {
            @include fa-header;
            color: $yellow-color;
            line-height: 43px;
        }
    }
    
     
    .header_contact {
        display: inline-block;
        float:right;
        width: 300px;
        
        .fa {
            @include fa-header;
            line-height: 45px;
        }
        
        span {
            display: block;
            &.call {
                font-size:1.3em;
            }
            &.number {
                font-size: 0.9em;
            }
        }
    }
    
}
